.button-icon {
    display: flex; align-items: center; justify-content: center;
    width: min-content;
    white-space: nowrap;
    position: relative;
    cursor: pointer;
    &::before {
        position: absolute; top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        content: '';
        border: 1px solid $color_gray;
        border-radius: 50%;
        opacity: 0;
        width: 40px; height: 40px;
        transition: all .3s ease;
    }
    i {
        font-size: 28px;
        color: $color_black;
        transition: all .3s ease;
    }
    &:hover {
        i {
            color: $color_gray;
        }
    }
    &--red {
        &:hover {
            i {
                color: $color_orange;
            }
        }
    }
}