 .col {
        display: flex; flex-direction: column;
        &-1 { width: 10%; }
        &-2 { width: 20%; }
        &-3 { width: 30%; }
        &-4 { width: 40%; }
        &-45 { width: 45%; }
        &-5 { width: 50%; }
        &-6 { width: 60%; }
        &-7 { width: 70%; }
        &-8 { width: 80%; }
        &-9 { width: 90%; }
        &-10 { width: 100%; }
        &--stretch {
            align-self: stretch;
        }
    }

.row {
    display: flex; align-items: center; justify-content: space-between;
    width: 100%;
    &--actions {
        .buttonicon, .c-button {
            margin-left: 30px;
        }
    }
    &--ais {
        align-items: start;
    }
    &--mb {
        margin-bottom: 35px;
    }
    &--end {
        justify-content: flex-end;
    }
    &--border {
        padding-bottom: 40px;
        border-bottom: 2px solid $color_gray;
    }
    &--input {
        justify-content: start;
        &-intro {
        margin-right: 50px !important;
        }
        &-row {
        display: flex; justify-content: end;
        width: 50%; 
        }
        .c-input {
        display: flex; flex-direction: row; justify-content: end;
        width: 100%;
        &__label {
            white-space: wrap;
            line-height: 1.5;
        }
        }
    }
}

@media (max-width: $breakpoint_sm) {
    .col {
        &-1, &-2, &-3, &-4, &-45, &-5, &-6, &-7, &-8, &-9, &-10 {
            width: 100%;
        }
    }
    .row {
        flex-direction: column;
        align-items: start;
        &--end {
            justify-content: start;
        }
        &--aic {
            align-items: start;
        }
        &--actions {
            .c-button, .button-icon {
                margin: 15px 0 0;
            }
        }
    }
}