 .col {
        display: flex; flex-direction: column;
        &-1 { width: 10%; }
        &-2 { width: 20%; }
        &-3 { width: 30%; }
        &-4 { width: 40%; }
        &-5 { width: 50%; }
        &-6 { width: 60%; }
        &-7 { width: 70%; }
        &-8 { width: 80%; }
        &-9 { width: 90%; }
        &-10 { width: 100%; }
    }

.row {
    display: flex; align-items: center; justify-content: space-between;
    width: 100%;
    &--mb {
        margin-bottom: 35px;
    }
    &--end {
        justify-content: flex-end;
    }
    &--border {
        padding-bottom: 40px;
        border-bottom: 2px solid $color_gray;
    }
}