.c-input {
    margin-bottom: 30px;
    display: flex; align-items: center; justify-content: space-between;
    width: 70%;
    &--border {
        border-bottom: 1px solid $color_gray;
    }
    &__title {
        font-size: 28px;
        font-weight: 600;
    }
    &__label {
        font-size: 24px;
        white-space: nowrap;
        font-weight: 600;
        margin: 0;
    }
    &__field {
        padding: 12px 25px;
        width: 60%;
        border-radius: 0;
    }
    textarea {
        resize: none;
    }
}

.c-input-checkbox {
    width: 80%;
    margin-bottom: 30px;
    &__label {
        padding-left: 45px;
        font-size: 18px;
        line-height: 1.5;
        &::before, &::after {
            width: 25px; height: 25px;
        }
    }
}