.c-section {
  width: calc(100% - #{$size_sidebar_width});
  min-height: calc(100vh - 50px);
  margin-left: $size_sidebar_width;
  transition: all 0.3s;
  position: relative;
  padding-top: 85px;
  margin-bottom: 100px;

  &--full {
    width: 100%;
    margin-left: 0;
  }
}

.c-section__head {
  border-bottom: solid 1px rgba($color_cenere, .2);
  padding: 20px 0;
  height: 62px;

  &-container {
    display: flex; justify-content: flex-start; align-items: center;
    position: relative;
    height: 100%;
  }

  &-title {
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    margin: 0;
    font-size: 20px;
    color: $color_white;
  }

  &-backtext {
    color: $color_white;
    font-size: 20px;
    text-decoration: none;
  }

  &-back {
    font-size: 25px;
    color: $color_white;
    i {
      margin-right: 15px;
    }
    display: flex;
  }
}

.c-section__content {
  width: 100%;
  margin-top: 40px;

  &-box {
    padding-bottom: 60px;
    margin-bottom: 20px;
    border-bottom: 1px solid $color_black;
    display: flex; flex-direction: column;

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }
  }

  &-title {
    margin-top: 30px;
    margin-bottom: 45px;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
  }

  &-list {
    display: flex; flex-wrap: wrap; align-items: center;
    justify-content: space-between;
  }

  &-cta {
    border-radius: 15px;
    width: 22%; height: 120px;
    background-color: $color_black; color: $color_white;
    display: flex; flex-direction: column; align-items: center; justify-content: center;
    transition: all .3s ease;
    &:nth-child(n+5) {
      margin-top: 48px;
    }
    &:hover {
      background-color: $color_cenere;
      color: $color_black;
      .c-section__content-cta {
        &-icon i, &-title {
          color: $color_black;
        }
      }
    }
    &-icon {
      width: 45px;
      transition: all .3s ease;
      i {
        transition: all .3s ease;
        color: $color_white;
        font-size: 36px;
        margin-bottom: 15px;
      }
    }
    &-label {
      text-align: center;
    }
    &-title {
      font-size: 22px;
      text-transform: uppercase;
      text-decoration: none;
      color: $color_white;
      transition: all .3s ease;
    }
  }
}

.is-menu-closed {
  .c-section {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: $breakpoint_sm) {
  .c-section {
    width: 100%;
    margin-left: 0;
    padding: 0;
    padding-top: 50px;

    &--full {
      width: 100%;
      margin-left: 0;
    }
  }

  .c-section__head {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
  }

  .c-section__head-title {
    font-size: 24px;
  }

  .c-section__head-breadcrumb {
    padding-top: 0;
  }

  .c-section__head-breadcrumb-link {
    font-size: 10px;
  }

  .c-section__content {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .c-section__content-block {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100% !important;

    &--col {
      width: 100%;

      > .c-card {
        .c-card__body {
          overflow-y: auto !important;
        }
      }
    }
  }
}

@media (max-width: $breakpoint_sm) {
  .c-section {
        padding-top: 85px;
        &__head {
            &-title {
                width: auto;
                white-space: nowrap;
            }
            &-backtext {
                display: none;
            }
        }
        .main {
            padding-top: 80px;
        }
        &__content {
            &-cta {
                width: 100%;
                margin-bottom: 15px;
                &:nth-child(n) {
                    margin-top: 0;
                    margin-bottom: 15px;
                }
            }
        }
    }
}