.c-table {
    width: 100%;
    border-collapse: collapse;
    thead, thead tr {
        background-color: rgba($color_gray, .2);
    }
    tr {
        border: 1px solid $color_black;
        &:nth-child(2n) {
            background-color: rgba($color_cenere, .2);
        }
    }
    th, td {
        text-align: left;
        padding: 25px 45px;
        font-size: 18px;
        border: none;
    }
    tbody tr {
        &:hover {
            background-color: rgba($color_white, .5);
        }
    }
    &__actions {
        text-align: left !important;
        div {
            display: flex; align-items: center;
            .button-icon, .c-button {
                margin-right: 60px;
            }
        }
    }
}

@media (max-width: $breakpoint_sm) {
    .c-table {
        td, th {
            display: none;
            &:first-child, &:last-child {
                display: block;
            }
        }
    }
}