.c-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    thead, thead tr {
        background-color: rgba($color_gray, .2);
    }
    tr {
        border: 1px solid $color_black;
        &:nth-child(2n) {
            background-color: rgba($color_cenere, .2);
        }
    }
    th, td {
        text-align: left;
        padding: 25px 45px;
        font-size: 18px;
        border: none;
        overflow: auto;
    }
    tbody tr {
        &:hover {
            background-color: rgba($color_white, .5);
        }
    }
    &__actions {
        text-align: left !important;
        div {
            display: flex; align-items: center;
            .button-icon, .c-button {
                margin-right: 60px;
            }
        }
    }
    &--dgn {
        margin-bottom: 50px;
    }
    .mobile {
        display: none;
    }
}

@media (max-width: $breakpoint_sm) {
    .c-table {
        thead {
            display: none;
        }
        td, th {
            display: none;
            padding: 20px;
            overflow: auto;
            &:last-child {
                display: flex;
            }
        }
        .mobile {
            display: flex; flex-direction: column;
            span {
                display: flex; align-items: center; justify-content: space-between;
                p {
                    width: 50%;
                    &:last-child {
                        text-align: right;
                    }
                }
            }
        }
    }
}