* {
  box-sizing: border-box;
}

body {
  font-family: $font_default, sans-serif;
  background-color: $color_cenere;
  color: $color_black;
}

main {
  position: relative;
  margin-top: $size_header_height;
}

a {
  color: $color_primary;
}

img {
  max-width: 100%;
}

span.code {
  display: inline-block;
  background-color: $color_cenere;
  font-family: monospace;
  padding: 2px 5px;
  border-radius: 3px;
}

.c-container {
  width: 85%;
  max-width: 85%;
  margin: 0 auto;
}

.c-logs-viewer {
  line-height: 2;
  &__container {
    overflow: hidden; overflow-x: scroll;
  }
}

@media (max-width: $breakpoint_sm) {
.r-map {
  height: 400px;
  margin-top: 30px;
}
}