// Fonts
// //////////////////////////////////////////

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$font_default: 'Alata';

// Breakpoints
// //////////////////////////////////////////

$breakpoint_xs: 580px;
$breakpoint_sm: 768px;
$breakpoint_md: 1024px;
$breakpoint_lg: 1281px;

// Colors
// //////////////////////////////////////////

$color_white: #ffffff;
$color_primary: #000000;
$color_gray: #757575;
$color_cenere: #D8D8D8;
$color_black: #222222;
$color_blue: #00AEE3;
$color_green: #54B64E;
$color_yellow: #FEC542;
$color_orange: #E30613;

$color_twitter: #55acee;
$color_linkedin: #007bb6;
$color_toggl: #e20505;
$color_dropbox: #005ff8;

// Sizes
// //////////////////////////////////////////

$size_header_height: 50px;
$size_sidebar_width: 250px;
